<?xml version="1.0"?>
<config>
    <modules>
        <Pragmatic_Configuration>
            <version>0.1.0</version>
        </Pragmatic_Configuration>
    </modules>
    <global>
        <models>
            <pragmatic_configuration>
                <class>Pragmatic_Configuration_Model</class>
            </pragmatic_configuration>
        </models>
        <resources>
            <pragmatic_configuration_setup>
                <setup>
                    <module>Pragmatic_Configuration</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pragmatic_configuration_setup>
        </resources>
        <helpers>
            <pragmatic_configuration>
                <class>Pragmatic_Configuration_Helper</class>
            </pragmatic_configuration>
        </helpers>
        <blocks>
            <pragmatic_configuration>
                <class>Pragmatic_Configuration_Block</class>
            </pragmatic_configuration>
        </blocks>
    </global>
    <admin>
        <routers>
            <pragmatic_theme>
                <use>admin</use>
                <args>
                    <module>Pragmatic_Configuration</module>
                    <frontName>pragmatic_configuration</frontName>
                </args>
            </pragmatic_theme>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pragmatic_configuration>
                                            <title>Pragmatic Configuration - All</title>
                                        </pragmatic_configuration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <pragmatic_configuration>
            <import>
                <directory><![CDATA[app/code/community/Pragmatic/Configuration/var/]]></directory>
            </import>
        </pragmatic_configuration>
    </default>
</config>
